body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url('background.jpg');
    background-size: cover;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    width:  100%;
    border-radius: 5px;
}

.table-container {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.upload-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.upload-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    fill: #666;
}

.upload-input {
    display: none;
}

.upload-label {
    padding: 8px 12px;
    background-color: #ccc;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.upload-label:hover {
    background-color: #999;
}

.dropdown {
    display: inline-block;
    margin-left: 10px;
}

.dropdown select {
    padding: 5px;
}

.submit-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.ok-button{
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #45a049;
}

#myDiagramDiv {
    width: 100%;
    height: 50vh;
    border: 2px solid #000;
}

.bold {
    font-weight: bold;
    padding-bottom: 5px;
}

.step{
    height: 54vh;
    border: 2px solid #000;
    padding: 5px 10px;
    width: 100%;
    overflow-y: scroll;

}

.tree {
    display:  flex;
    align-items: start;
    justify-content: space-between;
    gap: 10px;
    max-width: 1200px ;
    margin: 0 auto;
}